body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin: 10px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}

.half-width img {
    width: 80%;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(food-network/images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}

.second half-width {
    display: flex;
    width: 50%;
    padding-right: 5px;
    margin: 10px;
}

.second .half-width img {
    width: 100%;
    margin: 20px;
}

.middle-banner {
    background-image: url(food-network/images/shapes/7.png);

}

.recipies-title {
    width: 100%;
    margin: 20px;
    /* background-color: red; */
    border-radius: 20px;


}

.recipies-title img {
    width: 90%;
    margin: 10px;
    border-radius: 10px;




}

.my-recipies {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.first-recipies {
    background-color: rgb(244, 249, 249);
    margin-left: 50px;
    margin-right: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.second-recipies {
    background-color: rgb(246, 246, 248);
    border: 10px;
    padding-top: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.third-recipies {
    background-color: rgb(245, 248, 245);
    border: 10px;
    border-right: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.food-network {
    background-color: bisque;
    margin-top: 50px;
    text-align: center;
    padding-top: 5px;

}

.food-color {
    color: darkorange;

}

.linkedin {
    text-decoration: none;
}

.facebook {
    text-decoration: none;
}